<!-- Se debe incluir la biblioteca para importr los iconos -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@model List<Categoria>
@{
    ViewData["Title"] = "Categorías";
}
<h1>@ViewData["Title"]</h1>
<button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create","Categoria")'">Nueva Categoria</button>

<p>Esta página muestra la Lista de Tallas Registrados.</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdCategoria</td>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
                <td><a asp-action="Edit" asp-route-IdCategoria="@item.IdCategoria" type="button" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i></a>&nbsp;<a asp-action="Details" asp-route-idTallaProducto="@item.IdCategoria" type="button" class="btn btn-primary"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>&nbsp;<a asp-action="Delete" asp-route-idTallaProducto="@item.IdCategoria" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
            </tr>
        }
    </tbody>
