@model List<Accesorio>
@{
    ViewData["Title"] = "Lista Accesorios";
}
<h1>@ViewData["Title"]</h1>
<button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create","Accesorio")'">Nuevo Accesorio</button>

<br>
<br />

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Marca</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Accion</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdAccesorio</td>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
                <td>@item.Marca</td>
                <td>@item.Cantidad</td>
                <td>@item.Precio</td>
                <td>
                    <a asp-action="Edit" asp-route-IdAccesorio="@item.IdAccesorio" type="button" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>&nbsp;
                    <a asp-action="Details" asp-route-IdAccesorio="@item.IdAccesorio" type="button" class="btn btn-success"><i class="bi bi-eye"></i></a>&nbsp;
                    <a asp-action="Delete" asp-route-IdAccesorio="@item.IdAccesorio" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
